/*.tolowercase {
    text-transform: none !important;
    color: #3090C7 !important;
    font-size: 18px !important;
}

.tolowercase-default-font {
    text-transform: none !important;
    color: #3090C7 !important;
}
.tocapitalize {
    text-transform: capitalize  !important;
}*/